<!doctype html>
{% load static %}
<html>
	<head>
	<meta charset="UTF-8">
	<title>Mińskie Towarzystwo Szachowe</title>
	<link rel="stylesheet" href="{% static 'www/style.css' %}">
	<link rel="stylesheet" href="https://use.typekit.net/kbm3qwl.css">
	</head>
	<body onLoad="start_function()">
		<div class="navigation center">
			{% for m1 in Menu1 %}
				<div class="menu" id="{{ m1.id }}">
					<a href="../m/{{ m1.id }}">{{ m1.nazwa }}</a>
					<div class="submenu">
					{% for m2 in Menu2 %}
						{% if m1.id == m2.rodzic.id %}
							<a href="../m/{{ m2.id }}">{{ m2.nazwa }}</a>
						{% endif %}
					{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="container center">
			{% if Pelny %}
				{% for art in Pelny %}
					<div class="article">
						<div class="title center">
							<a href="../a/{{ art.artykul.id }}">
								<h2>{{ art.getTytul }}</h2>
							</a>
						</div>
						<div class="text">
							<p>{{ art.getWstep }}</p>
							<p>{{ art.getTresc|safe }}</p>
						</div>
						<div class="date center">
							<p>{{ art.utworzony|date:"Y-m-d" }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			
			{% for art in ArtykulMenu %}
				{% if not art.widok == 'Link' %}
					<div class="article">
						<div class="title center">
							<a href="../a/{{ art.artykul.id }}">
								<h2>{{ art.artykul.getTytul }}</h2>
							</a>
						</div>
						<div class="text">
							<p>{{ art.artykul.getWstep }}</p>
							{% if art.widok == 'Pelny' %}
								<p>{{ art.artykul.getTresc|safe }}</p>
							{% else %}
								<div class="buttons center">
									<a href="../a/{{ art.artykul.id }}">
										<button>Więcej</button>
									</a>
								</div>
							{% endif %}
						</div>
						<div class="date center">
							<p>{{ art.artykul.utworzony|date:"Y-m-d" }}</p>
						</div>
					</div>
				{% endif %}
			{% endfor %}

			{% for art in ArtykulMenu %}
				{% if art.widok == 'Link' %}
					<div class="link">
						<a href="../a/{{ art.artykul.id }}">
							<h3>{{ art.artykul.getTytul }}</h3>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</body>
	<script>
		function start_function() {
			document.getElementById("{{ pid }}").classList.add("underline");
		}
	</script>
</html>