@charset "UTF-8";
/* CSS Document */

/*<-- global styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/

html {
	background-color: #5299d0;
	font-family: acumin-pro-condensed, sans-serif;
	max-width: 1200px;
	margin: auto;
}


a, th, p, label, h1, h2 {
	text-decoration: none;
	color: white;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 300;
	font-style: normal;
}

h1, h2 {
	font-size: 48px;
	font-weight: 700;
/*	font-style: italic;*/
}

h2 {
	font-size: 36px;
}

.center {
	justify-content: center;
	display: flex;
}

/*<-- navigation styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline;
	padding: 20px;
}

.navigation {
	padding: 25px 0;
}

/*<-- container styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/

.container {
	flex-direction: column;
	margin-top: 50px;
}

.article {
	margin: 0 15%;
	margin-bottom: 75px;
}

.article .text {
	text-decoration: none;
	color: white;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 300;
	font-style: normal;
}

.container h2 {
	display: inline;
	cursor: pointer;
}

.article button {
	font-family: acumin-pro-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: white;
	margin-top: 25px;
	font-size: 24px;
	border: 2px solid white;
	background-color: #5299d0;
	cursor: pointer;
	width: 125px;
}

.article button:hover {
	background-color: white; 
	color: #5299d0;
}

/*<-- schedule styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/

table td, table a {
	font-size: 18px;
	color: white;
	padding: 5px;
	text-align: left;
}

table th {
	font-weight: 700;
	text-align: left;
	font-size: 24px;
	padding: 5px;
}

