@charset "UTF-8";
/* CSS Document */

/*<-- global styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/

html {
	background-color: #5299d0;
	font-family: acumin-pro-condensed, sans-serif;
	max-width: 1200px;
	margin: auto;
}


a, th, p, label, h1, h2, h3 {
	text-decoration: none;
	color: white;
	font-size: 26px;
	line-height: 1.2;
	font-weight: 300;
	font-style: normal;
}

h1, h2, h3 {
	font-size: 48px;
	font-weight: 700;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

.center {
	justify-content: center;
	display: flex;
}

/*<-- navigation styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/


.navigation {
	margin-top: 20px;
}

.menu a {
	padding: 0 10px;
}

.submenu a {
	font-size: 20px;
}

.submenu {
	display: none;
	position: absolute;
	z-index: 1;
	cursor: default;
}

.menu:hover .submenu {
	display: block;
	left: 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 20px 0;
}

.menu a:hover, .underline {
	text-decoration: underline;
    text-underline-position: under;	
	-webkit-text-decoration: underline;
    -webkit-text-underline-position: under;
}

/*<-- container styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/

.container {
	flex-direction: column;
	margin: 100px 15% 50px 15%;
}

.article {
	margin-bottom: 125px;
}

.article .text {
	text-decoration: none;
	color: white;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 300;
	font-style: normal;
}

.title h2 {
	display: inline;
	cursor: pointer;
	margin: 0;
}

.date p {
	margin: 20px 0 0 0;
	font-size: 24px;
}

.text p {
	margin: 20px 0 0 0;
}

.article button {
	font-family: acumin-pro-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: white;
	font-size: 24px;
	border: 2px solid white;
	background-color: #5299d0;
	cursor: pointer;
	width: 150px;
	margin: 40px 0 0 0;

}

.article button:hover {
	background-color: white; 
	color: #5299d0;
}

.link h3 {
	cursor: pointer;
	margin: 10px 0;
}

/*<-- schedule styles –––––––––––––––––––––––––––––––––––––––––––––––––– -->*/

table td, table a {
	font-size: 18px;
	color: white;
	padding: 5px;
	text-align: left;
}

table th {
	font-weight: 700;
	text-align: left;
	font-size: 24px;
	padding: 5px;
}

